@model IList<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
    @foreach (var item in Model)
    {
        
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
        
    }
    </head>
<body>
    <div>
    </div>
</body>
</html>
