@model List<MyProject.Models.ApplicationUser>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserList</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                Email
            </th>
            <th>
                UserName
            </th>

            <th></th>
        </tr>

        @foreach (var User in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => User.UserName)
                </td>

                <td>
                    @Html.ActionLink("Delete", "DeleteUser", new { id = User.Id })
                </td>
            </tr>
        }
    </table>
</body>
</html>
